*{
    margin:0;
}

.signup{
    grid-area: header;
    width: 700px;
    height: 950px;        
}


.hero{
    grid-area: hero;
    background-color: rgba(215, 241, 193, 0.589);
}

footer{
    grid-area:footer;
}
.last{
    grid-area:last;
    background-color: rgba(215, 241, 193, 0.589);
    height: 370px;
}
.container {
    display: grid;
    grid-template-columns: 500px 200px 800px ;
    grid-template-rows: 300px 280px 150px;
    grid-template-areas: 
      "header header hero hero"
      "header header footer footer"
      "header header last last";
}

.main-text{
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 24px;
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputs-place{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left{
    padding-left: 3vw;
}

.create-account{
    margin-top: 30px;
    width: 260px;
    height: 60px;
    margin-left: 60px;
    border-radius: 8%;
    background-color: rgb(56, 97, 56);
    color:white;
    font-size: 20px;
}
.last-text{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fill{
    margin-right: 100px;
    width: 240px;
    height: 24px;
    border-radius: 5%;
}

.names{
    margin-right: 295px;
}

.contact{
    margin-right: 300px;
}

.pass{
    margin-right: 250px;
}

input:invalid {
    border-color: rgba(218, 22, 22, 0.911);
    border-width: 2px;
}

.msg{
    font-size: 28px;
    margin-left: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 50px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 80%;
}

